<div class='container-fluid'>
	<div class='card comment-card'>
		<div class='card-body'>
			<p class='card-text'>{{comment_text}}</p>
			<p class='card-text'>
				By
				<span style='font-weight: bold;'>{{user.username}}</span>
				on
				{{createdAt}}</p>
		</div>
	</div>
</div>