<div class='container-fluid'>
	<div class='card'>
		<div class='card-body'>
			<p class='card-text'>{{comment_text}}</p>
			<p class='card-text'>created on
				{{createdAt}}
				by
				{{user.username}}</p>
		</div>
	</div>
</div>