<div class='container d-flex justify-content-center'>
	<h1>Create a New Post</h1>
</div>
<form class='post-form container m-3'>
	<div class='mb-3'>
		<label class='form-label' for='post-title'>Title</label>
		<input class='form-control' type='text' id='post-title' />
	</div>
	<div class='mb-3'>
		<label class='form-label' for='post-text'>Text</label>
		<textarea class='form-control' id='post-text'></textarea>
	</div>
	<button class='btn btn-primary' type='submit'>Create Post</button>
</form>
<script src='/javascript/newPost.js'></script>