<form class='login-form container m-3'>
	<div class='mb-3'>
		<label class='form-label' for='username-login'>Username</label>
		<input class='form-control' type='text' id='username-login' />
	</div>
	<div class='mb-3'>
		<label class='form-label' for='password-login'>Password</label>
		<input class='form-control' type='password' id='password-login' />
	</div>
	<button class='btn btn-primary' type='submit'>Log in</button>
</form>
<script src='/javascript/login.js'></script>