/* main */

.logo {
	text-decoration: none;
	padding-left: 20px;
	color: whitesmoke;
}

.logo:hover {
	color: whitesmoke;
	opacity: 70%;
}

.nav-item {
	margin-bottom: 0px;
}

.nav-item a {
	text-decoration: none;
	color: whitesmoke;
	font-size: large;
	margin-right: 20px;
}

#log-out {
	background: none;
	color: whitesmoke;
	border: none;
	padding: 0;
	cursor: pointer;
	font-size: large;
	margin-right: 20px;
}

.nav-item:hover {
	color: whitesmoke;
	opacity: 70%;
}

/* post-info */

.card {
	background-color: burlywood;
}

.post-title {
	font-weight: bold;
	font-size: 35px;
}

.post-title a {
	color: black;
}

.post-info {
	font-size: small;
}

.post-created {
	margin-right: 15px;
}

/* comment-info */

.comment-card {
	background-color: rgb(255, 255, 255);
}
